/* ОСНОВНОЕ */

/* шрифты */

@font-face {
    font-family: "Gotham Pro Light";
    src: url(../fonts/GothamProLight.woff);
}

/* страница */

html,
body {
    font-family: "Gotham Pro Light" !important;

    height: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

/* задний план */

body {
    background-image: url(../images/basic/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
}

/* кнопка */

.btn {
    border-radius: 25px;
    background-color: #d0913e;
}

.btn:active {
    background-color: #ffbf6b;
}

.btn-computation {
    height: 80% !important;
    padding: 0rem 0rem !important;
    border-radius: 0px;
}

.btn-stable {
    background-color: #4fd03e;
}

.btn-stable:active {
    background-color: #4fd03e;
}

.btn-changed {
    background-color: #c23c3c;
}

.btn-changed:active {
    background-color: #c23c3c;
}

.btn-link {
    border-radius: 0px;
    background-color: #54717e;
}

/* поле ввода */

input {
    border-radius: 0px !important;
}

.input-form {
    height: 90% !important;
    font-size: 100% !important;
    padding: 0rem 0rem !important;
}

.input-checkbox {
    width: 70%;
    height: 70%;
}

/* предупреждения */

.alert {
    border-radius: 0px !important;
}

/* логотип */

.cloud {
    margin-top: -8%;
}

.logo {
    margin-top: -80%;
}

/* цвета */

.bg-header {
    background-color: rgba(120, 155, 149, 1);
}

.bg-content {
    background-color: rgba(78, 131, 152, 0.8);
}

.bg-footer {
    background-color: rgba(10, 52, 70, 1);
}

.bg-text {
    background-color: rgba(255, 255, 255, 0.8);
}

/* содержимое */

.wrapper {
    min-height: 80% !important;
}

/* футер */

.footer {
    min-height: 20% !important;
}

/* отображение */

.none {
    display: none;
}

/* селектор */

select {
    border-radius: 0px !important;
}

.selector-tips {
    max-height: 200px;
    overflow-y: auto;
}

/* карточки */

.card {
    border-radius: 0px !important;
}

/* видимость */

.d-none-not-strict {
    display: none;
}
