/************************ ОСНОВНОЕ ************************/

/* шрифты */

@font-face {
  font-family: "Gotham Pro Light";
  src: url(../fonts/GothamProLight.woff);
}

/* страница */

html,
body {
    
    font-family: "Gotham Pro Light" !important;
    
    height: 100%;
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
}


/* задний план */

body {
    background-image: url(../images/basic/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


/* кнопка */

.btn {
    border-radius: 25px;
    background-color: #d0913e;
}
.btn:active {
    background-color: #ffbf6b;
} 

.btn-link {
    border-radius: 0px;
    background-color: #54717e;
}


/* поле ввода */

input {
    border-radius: 0px !important;
}


/* предупреждения */
.alert {
    border-radius: 0px !important;
}


/* логотип */

.logo{
    margin-top: -10%;
}