/************************ СТРАНИЦА КРЕДИТНОЙ ИСТОРИИ ************************/


/* лого */

#cardsAll-logo img {
    
    width: 40%;
    
    margin-left: 30%;
    margin-right: 30%;
    
}

/* изображения в таблице */

#cardsAll-table img {
    
    width: 40%;
    
    margin-left: 30%;
    margin-right: 30%;
    
}